nav {
    width: 100%;
    padding: 10px 6rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg-color);
    padding: 0 50px;
}

nav>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-logo:hover {
    cursor: pointer;
}