nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg-color);
    padding: 0 3.125rem;
}

nav>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-logo:hover {
    cursor: pointer;
}

#menuSearchIcon {
    width: 60px;
}

#parseSpyIcon {
    width: 150px;
}

@media (max-width:478px) {
    nav {
        padding: 0 1rem;
    }

    #menuSearchIcon {
        width: 50px;
    }

    #parseSpyIcon {
        width: 110px;
    }
}

@media (max-width:400px) {
    #menuSearchIcon {
        width: 40px;
    }

    #parseSpyIcon {
        width: 100px;
    }
}