footer {
    position: fixed;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: var(--footer-height);
    color: white;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#footer-first-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 2rem;
    margin-top: 2rem;
}

#footer-first-section>div {
    width: 30%;
}

#footer-first-section>div:nth-child(1)>img {
    width: 40px;
    overflow: hidden;
    border-radius: 3px;
}

#footer-first-section a {
    text-decoration: none;
    color: inherit;
    transition: all ease 0.2s;
}

#footer-first-section a:hover,
#footer-first-section a:focus,
#footer-first-section a:active {
    text-decoration: underline;
    cursor: pointer;
}

#footer-first-section li {
    list-style: none;
    margin: 1rem 0;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.list-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.list-container p {
    font-size: 1.1rem;
    font-weight: 600;
}

.list-container>ul>li {
    text-align: left;
    color: gray;
}


#footer-second-section>p {
    font-size: 17rem;
    font-weight: 600;
    text-align: center;
    transform: translateY(5px);
}

@media (max-width: 426px) {
    #footer-second-section>p {
        font-size: 7.5rem;
        transform: translateY(50px);
    }

    .list-container p {
        font-size: 0.9rem;
    }

    #footer-first-section li {
        margin: .8rem 0;
    }

    #footer-first-section {
        width: 100%;
        padding-top: 2rem;
        margin-top: 2rem;
    }
}

@media (max-width: 769px) {
    #footer-first-section {
        padding-top: 1rem;
        margin-top: 1rem;
    }
}