.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.floating-box {
    position: relative;
    background-color: var(--primary-bg-color);
    margin: 2rem;
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 100px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.floating-box:hover {
    cursor: pointer;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
}