.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary-bg-color);
    padding: 2.5rem 0;
}

.section-heading {
    padding: 2rem 0;
    padding-top: .5rem;
}

.section-heading>div>span {
    font-size: 4.5rem;
    display: block;
    font-family: "Merriweather Regular";
}

.section-description {
    font-size: 1.2rem;
    padding: 1rem 0;
}

.section-description>div>span {
    display: block;
    color: gray;
}

@media (max-width:700px) {
    .section-heading>div>span {
        font-size: 3.5rem;
    }

    .section-description {
        font-size: 1rem;
    }
}

@media (max-width:570px) {
    .section-heading {
        padding: 1rem 0;
    }

    .section-heading>div>span {
        font-size: 2.5rem;
    }
}

@media (max-width:420px) {
    .section-heading>div>span {
        font-size: 2rem;
    }

    .section-description {
        font-size: .8rem;
        padding: .1rem 0;
    }
}