@font-face {
  font-family: 'Messina Sans';
  src: local('Messina Sans Regular'), local('MessinaSans-Regular'),
    url('MessinaSans-Regular.woff2') format('woff2'),
    url('MessinaSans-Regular.woff') format('woff'),
    url('MessinaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Messina Sans';
  src: local('Messina Sans SemiBold'), local('MessinaSans-SemiBold'),
    url('MessinaSans-SemiBold.woff2') format('woff2'),
    url('MessinaSans-SemiBold.woff') format('woff'),
    url('MessinaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Regular';
  src: url('Merriweather-Regular.ttf') format('truetype'), ;
}

:root {
  --signup-btn-bg-color: #393737;
  --primary-bg-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Messina Sans";
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-color: black;
}