* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'Messina Sans';
  src: local('Messina Sans Regular'), local('MessinaSans-Regular'),
    url('MessinaSans-Regular.woff2') format('woff2'),
    url('MessinaSans-Regular.woff') format('woff'),
    url('MessinaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Messina Sans';
  src: local('Messina Sans SemiBold'), local('MessinaSans-SemiBold'),
    url('MessinaSans-SemiBold.woff2') format('woff2'),
    url('MessinaSans-SemiBold.woff') format('woff'),
    url('MessinaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}