@font-face {
  font-family: 'Messina Sans';
  src: local('Messina Sans Regular'), local('MessinaSans-Regular'),
    url('./assets/MessinaSans-Regular.woff2') format('woff2'),
    url('./assets/MessinaSans-Regular.woff') format('woff'),
    url('./assets/MessinaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Messina Sans';
  src: local('Messina Sans SemiBold'), local('MessinaSans-SemiBold'),
    url('./assets/MessinaSans-SemiBold.woff2') format('woff2'),
    url('./assets/MessinaSans-SemiBold.woff') format('woff'),
    url('./assets/MessinaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Regular';
  src: url('Merriweather-Regular.ttf') format('truetype'), ;
}

:root {
  --signup-btn-bg-color: #393737;
  --primary-bg-color: #f5f5f5;
  --footer-height: 82vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Messina Sans";
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  background-color: black;
}

body {
  margin-bottom: var(--footer-height);
}

@media (max-width: 480px) {
  :root {
    --footer-height: 50vh;
  }
}